# Configuration file for STM32MP1 shell scripts
# The shell scripts to load, run, stop and remove the application in production mode
# and to generate device tree files are in the subfolder 'Tools' and can be added 
# to MDK menu: Tools > Customize Tools Menu > Import... > {PACK_FOLDER}/Tools/tools.cfg
# A Bash shell in the path is required (e.g. install Git Bash https://gitforwindows.org
# and add "C:\Program Files\Git\bin" to the Windows Path).

# Board's hostname or IP address
BOARD_HOSTNAME=stm32mp1

# Device tree file generation
# The 'Generate DTB' script takes the device tree source file from the project's 'DeviceTree' folder, 
# generates the binary file and copies it to the board's /boot folder
# Follow the ST documentation to download the kernel sources, extract and apply patches
DT=stm32mp157c-dk2
STAGING_KERNEL_DIR=/Z/STM32MP1/linux-4.19.9
INCLUDES="-I. -I${STAGING_KERNEL_DIR}/arch/arm/boot/dts/ -I${STAGING_KERNEL_DIR}/include/"
